@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace !important;
  /*background-image:url("images/fondo4.jpg");*/
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 550px;
}

a{
  color: black;
  text-decoration: none !important;
}

a:hover{
  text-decoration: none !important;
}

.indexImg{
  width:100%;
  height: 100%;
  background-image:url("images/fondo4.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/************************************/
/**************NavBar****************/
/************************************/

.logo{
  margin-top:-10px;
  width: 100px;
  height: 40px;
}

.navbar-brand{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.navbarNoIndex{
  border-radius: 0px !important;
  border-bottom-color: black !important; 
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}
.navbar{
  /*background-color: white;*/
  background: rgba(255,255,255,0.6);
  border-radius: 4px;
}
.icon-bar{
  background-color:black;
}
.navbar-header > a{
  color:black;
}

.navbar-header > a:hover{
  color:#607D8B;
}

.nav > li > a{
  color:black;
  text-decoration: none;
  /*cursor: default;*/
}
.navbar-nav > li > .dropdownIndex {
  background: rgba(255,255,255,1) !important;
  min-width: 110px;
  border: 0px;
}
.navbar-nav > li > .dropdownMenuIndex {
  background: rgba(255,255,255,0.4) !important;
  min-width: 110px;
  border: 0px;
}

.navbar-nav > li > .dropdownIndex > li > .dropdown-header:hover {
  background: rgba(255,255,255,0.4) !important;
  min-width: 110px;
  border: 0px;
}

.nav > li > a:hover{
  background-color: transparent !important;
  color:#607D8B;
}

.active{
  border-bottom-color: black !important; 
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
}

/*
.navbar-nav > li > .dropdown-menu > li > .dropdown-header {
  color: grey;
}
.navbar-nav > li > .categoria {
  background-color: black;
  color: white;
  font-weight: bold;
}*/

/*a{
  cursor: pointer;
  text-decoration: none;
}*/

/***************************/
/********Suscripcion********/
/**************************/

input:focus{
    outline: none;
}
.forms{
  text-align: center;
  margin: 0 auto;
}

.inputForms{
  /*border-radius: 5px;*/
  border: 0px solid black;
  border-bottom: 1px solid black;
}

.buttonForms{
  width: 130px;
  height: 35px;
  display: inline-block;
  border-radius: 50px;
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
}

.buttonForms:hover{
  color: white;
  background-color: black;
}

.anadirForm{
  margin: 0 auto 0 auto;
  text-align: center;
  width: 50%;
}

/*******************************/
/***********Galeria*************/
/******************************/
.containerImg{
  position:relative;
  display: inline;
  transition: all 0.3s linear;
}

.containerImg:hover > .aContainerImg > .imgs{
  filter:brightness(0.5);
  transition: all 0.3s linear;
}


.imgs:hover{
  /*transform:scale(1.03);
  border-style: solid;
  border-width: 0.01px;*/
  /*transition: all 0.3s linear;
  filter:brightness(0.5);*/
}

.containerImg:hover > .likeimgs{
  opacity: 1;
  transition: all 0.3s linear;
}
.containerImg:hover > .numLikes{
  opacity: 1;
  filter:brightness(1);
  transition: all 0.3s linear;
}

.imgs{
  margin:5px;
  transition: all 0.3s linear;
}

.imgLike{
  filter: grayScale(100%);
  transition: all 0.3s linear;
}

.imgLiked{
  filter: grayScale(0%);
  transform:scale(1.1);
  transition: all 0.3s linear;
}

.numLikes{
  position:absolute;
  left: 80px;
  top: 120px;
  color: white;
  text-decoration: none;
  opacity: 0;
  transition: all 0.3s linear;
}

.numLikes:hover{
  color:white;
  text-decoration: none;
  transition: all 0.3s linear;
}

.likeimgs{
  width:35px;
  height:35px;
  margin-left:-10px;
  margin-right:-10px;
  opacity:0;
  position:absolute;
  left: 45px;
  top: 120px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.likeimgs:hover{
  filter: brightness(0.7);
  transition: all 0.3s linear;
}

/*********************************/
/***********ScrollTop*************/
/*********************************/

.logoFixed{
  display: none;
  position: fixed;
  bottom: 50px;
  right: 35px;
  width: 40px;
  height: 40px;
}

/************************************/
/**************Footer****************/
/************************************/

footer{
  margin-top: 20px;
  overflow:auto;
  color:white;
  width: 100%;
  padding-top:30px;
  padding-bottom:30px;
  background-color: black;
  text-align:center;
}

.logoSocial{
  width: 55px;
  height: 55px;
  transition: all 0.3s linear;
}

.logoSocial:hover{
  transition: all 0.3s linear;
  transform:scale(1.15);
}